{% extends "cab/base.html" %}

{% block title %}{% endblock %}


{% block content %}
    <h2>Home</h2>

    <p>[An extra page I added to make it easier to get to everything.]</p>
    
    <ul>
    <li><a href="{% url "cab_language_list" %}">Languages</a></li>
    <li><a href="{% url "cab_snippet_list" %}">Snippets</a></li>
    <li><a href="{% url "cab_top_authors" %}">Top Authors</a></li>
    <li><a href="{% url "cab_top_languages" %}">Top Languages</a></li>
    <li><a href="{% url "cab_most_bookmarked" %}">Most Bookmarked</a></li>
    <li><a href="{% url "cab_top_rated" %}">Top Rated</a></li>
    <li><a href="{% url "cab_user_bookmarks" %}">User bookmarks</a></li>
    </ul>
    
{% endblock %}

