{% extends "base.html" %}
{% block base_content %}
    <form method="get" action="/search/" class="form-search">
        <p>
            <input type="text" name="q" id="id_q" class="input-medium search-query" value="{{ query }}"/>
            <input type="submit" value="Search" class="btn" /></p>
    </form>
    {% if keyword_results or results %}
        <p>You searched for "{{ query }}".</p>
        {% if keyword_results %}
            <p>Recommended pages:</p>
            <ul>
                {% for page in keyword_results %}
                <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if results %}
            <p>Search results:</p>
            <ul>
                {% for page in results %}
                <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    {% if query and not keyword_results and not results %}
        <p class="text-error">No results found.</p>
    {% else %}
        <p class="text-info">Type a search query into the box above, and press "Submit" to search.</p>
    {% endif %}
{% endblock %}